.create-solution 
  %h5 New Mad Lib created
  = form_for :solution, :url => solutions_path, :html => {:class => 'form-stacked'} do |f|
    = hidden_field_tag :mad_lib_text, @mad_lib.text
    - @mad_lib.hashes.each do |field, value|
      = f.label field.gsub(/ /, '_')
      = f.text_field field, :id => 'solution_' + field.gsub(/ /, '_')
    = f.submit 'Fill In'
